<div class="container-fluid">
	<div class="row">
		<div class="col s12">
			<h4 class="admin-page-title">商品品牌總覽</h4>
			<a href="<%= new_admin_brand_path %>" class="btn">新增品牌</a>

			<div class="admin-table-container">
	      <table class="admin-table">
	        <thead>
	          <tr>
	              <th data-field="name">名稱</th>
	              <th data-field="description">敘述</th>
	          </tr>
	        </thead>

	        <tbody>
	        	<% @brands.each do |b| %>
		          <tr>
		            <td><a href="<%= edit_admin_brand_path(b) %>"><%= b.name %></a></td>
		            <td><%= b.description %></td>
		          </tr>
	        	<% end %>
	        </tbody>
	      </table>
			</div>

		</div>
	</div>
</div>
