<div class="image-selector-cover" id="image-selector-cover"></div>
<div id="image-selector" class="image-selector">
	<a id="close-image-selector"><i class="material-icons">close</i></a>
	<%= form_for @image, :url => admin_images_path do |f| %>
		<div class="tool-bar">
			<h5 class="inline-block vertical-align--middle">設定圖片</h5>
      <ul class="tabs">
        <li class="tab"><a class="active" href="#upload-tab-content">上傳檔案</a></li>
        <li class="tab"><a href="#image-list-tab-content">圖片庫</a></li>
      </ul>
		</div>
		<div id="upload-tab-content" class="upload-tab-content">
			<!--<a class="outline-btn default vertical-align--middle" id="dropzone-trigger">Upload</a>-->
			<div id="dropzone-container" class="active">
				<div id="dropzone" class="fade well">
					<h5>請將檔案拖曳到這上傳</h5>
					<p>或</p>
					<div class="fileUpload flat-btn inline-block vertical-align--middle">
				    <span>選擇檔案</span>
				    <%= f.file_field :image, multiple: true, name: 'image[image]', class: 'upload' %>
					</div>
					<p>最大上傳檔案大小：1 MB。</p>
				</div>
			</div>
			<div id="progress">
				<div class="progress-bar" style="width: 0%;"></div>
			</div>
			<div id="upload-items">
			</div>
		</div>
		<div id="image-list-tab-content" class="image-list-tab-content">
			<div class="image-list"  id="image-list">
				<% @images.each do |image| %>
					<div class="image-item" id="<%= image.id %>" style="background-image:url(<%= image_path image.image_url.to_s %>)">
					</div>
				<% end %>
			</div>
			<div class="image-info">

			</div>
		</div>
	<% end %>
	<div class="bottom-bar">
		<a class="flat-btn" id="select-image-btn" target="">設定圖片</a>
	</div>
</div>
<script type="text/javascript">

$(document).on('click', '#select-image-btn', function(){
	if($('.selected-image').length > 0){
		var selected_image_id = $('.selected-image').attr('id');
	}else{
		flash.error('您尚未選擇任何圖片');
		return false;
	}

	var target = $('#image-selector').attr('target');
	$('#' + target).val(selected_image_id).trigger('change');
	$('#image-selector').removeClass('active');
	$('#image-selector-cover').removeClass('active');
})

$(document).on('click', '.image-selector-trigger', function(){
	var target = $(this).attr('target');
	$('#image-selector-cover').addClass('active');
	$('#image-selector').attr('target', target).addClass('active');
})

$(document).on('click', '#close-image-selector', function(){
	$('#image-selector-cover').removeClass('active');
	$('#image-selector').removeClass('active');
})

$(document).on('click', '.image-item', function(){
	if(!$(this).hasClass('selected-image')){
		$(this).siblings('.image-item').removeClass('selected-image');
	}
	$(this).toggleClass('selected-image');
})

$(function () {
    $('#image_image').fileupload({
        dataType: 'script',
        uploadTemplateId: null,
        downloadTemplateId: null,
        add: function(e, data){
        	/*
	        types = /(\.|\/)(gif|jpe?g|png)$/i;
        	file = data.files[0];
        	if(types.test(file.type) || types.test(file.name)){
        		data.context = $(tmpl("template-upload", file));
        		$('#fileupload').append(data.context);
        		data.submit();
        	}else{
        		alert('#{file.name} is not a gif, jpeg, or png image file.');
        	}
        	*/

	        var tpl = $('<div class="upload-item progress-bar working" style="width: 0%;"><span class="number"></span><span class="info"></span><span class="ctrl">取消</span></div>');
	        tpl.find('.info').text(data.files[0].name);
	        data.context = tpl.appendTo($("#upload-items"));

	        tpl.find('.ctrl').click(function(){
	            if(tpl.hasClass('working')){
	                jqXHR.abort();  //取消上傳
	            }

	            tpl.fadeOut(function(){
	                tpl.remove();
	            });
	        });
        	//執行 data.submit() 開始上傳
          var jqXHR = data.submit();
        },
        progress: function(e, data){
          var progress = parseInt(data.loaded / data.total * 100, 10);
          data.context.css(
	            'width',
	            progress + '%'
	        );
	        data.context.find('.number').text(progress+"%　　").change();
          if(progress == 100){
              data.context.removeClass('working');
          }
        },

				//整體進度
				progressall: function (e, data) {
					var progress = parseInt(data.loaded / data.total * 100, 10);
					$('#progress .progress-bar').css('width', progress + '%');
					$('#progress .progress-bar').text(progress + '%');
				},

				//上傳失敗
				fail:function(e, data){
				  data.context.addClass('error');
				},

				//單一檔案上傳完成
				done: function (e, data) {
					var tmp = data.context.find('.number').text();
				  // data.context.find('.number').text(tmp + data.result.status + "　　");
				},

				//全部上傳完畢
				stop: function (e) {
					flash.success("上傳完畢");
				},
		    dropZone: $('#dropzone')
    });
});

$('#dropzone-trigger').click(function(){
	$('#dropzone-container').slideToggle(500);
})

$(document).bind('dragover', function (e) {
    var dropZone = $('#dropzone'),
        timeout = window.dropZoneTimeout;
    if (!timeout) {
        dropZone.addClass('in');
    } else {
        clearTimeout(timeout);
    }
    var found = false,
        node = e.target;
    do {
        if (node === dropZone[0]) {
            found = true;
            break;
        }
        node = node.parentNode;
    } while (node != null);
    if (found) {
        dropZone.addClass('hover');
    } else {
        dropZone.removeClass('hover');
    }
    window.dropZoneTimeout = setTimeout(function () {
        window.dropZoneTimeout = null;
        dropZone.removeClass('in hover');
    }, 100);
});
</script>
