<div class="steps margin-bottom-m">
	<div class="step" state="<%= cart_state %>">
		<i class="material-icons inline-icon margin-right">shopping_cart</i>
		<span class="step-text">購物車</span>
	</div>
	<div class="step" state="<%= data_state %>">
		<i class="material-icons inline-icon margin-right">edit</i>
		<span class="step-text">填寫資料</span>
	</div>
	<div class="step" state="<%= confirm_state %>">
		<i class="material-icons inline-icon margin-right">done</i>
		<span class="step-text">確認下訂</span>
	</div>
</div>
