<div class="subscribe-newsletter-block">
	<h5 class="title">KEEP IN TOUCH WITH COLORGY</h5>
	<p class="description">Like what you see? Join our newsletter to catch updates and hear about new theme releases.</p>
	<div class="subscribe-newsletter-form">
		<input id="subscribe-newsletter-input" type="text" placeholder="your@email.com" />
		<a class="flat-btn" id="subscribe-newsletter-submit">SUBSCRIBE</a>
	</div>
</div>
