<div class="container-fluid">
	<div class="row">
		<div class="col s12">
			<h4 class="admin-page-title">文章分類總覽</h4>
			<a href="<%= new_admin_post_category_path %>" class="btn">新增文章分類</a>
		</div>
		<div class="col s12">
			<div class="admin-table-container">
	      <table class="admin-table">
	        <thead>
	          <tr>
	              <th data-field="name">名稱</th>
	          </tr>
	        </thead>

	        <tbody>
	        	<% @post_categories.each do |pc| %>
		          <tr>
		            <td><a href="<%= edit_admin_post_category_path(pc) %>"><%= pc.name %></a></td>
		          </tr>
	        	<% end %>
	        </tbody>
	      </table>
			</div>

		</div>
	</div>
</div>
