//**************************************************
//--------------------------------------------------
// Rails Commerce Shopping Cart
// Author: Lucas Liu
// Author Site: chenghsuan.com
// Author Email: chenghsuango@gmail.com
//--------------------------------------------------
//**************************************************


//**************************************************
//--------------------------------------------------
// Comment Level1 Title
//--------------------------------------------------
//**************************************************


//--------------------------------------------------
// Comment Level2 Title
//--------------------------------------------------

// Comment Level3 Title

//**************************************************
//--------------------------------------------------
// 1. Import
//--------------------------------------------------
//**************************************************

//**************************************************
//--------------------------------------------------
// 2. Global
//--------------------------------------------------
//**************************************************

body{
	background-color: #F5F5F5;
}

select{
	border: 1px solid #C5C5C5;
}

.admin-body--right{
	margin-left: 180px;
	margin-right: auto;
	padding-top: 48px;
}

.admin-body-inner{
	padding: 24px;
}

.dashboard-right-card{
	margin-top: 24px;
	padding: 12px;
	background-color: #FFF;

	.btn{
		margin-top: 24px !important;
	}
}


//**************************************************
//--------------------------------------------------
// 3. Tools
//--------------------------------------------------
//**************************************************

.admin-page-title{
  display: inline-block;
  margin-right: 12px;
  vertical-align: middle;
}

.no-margin-bottom{
	margin-bottom: 0;
}




//**************************************************
//--------------------------------------------------
// 4. Components
//--------------------------------------------------
//**************************************************

//--------------------------------------------------
// Navbar
//--------------------------------------------------

.fixed-nav{
	top: 0;
}

//--------------------------------------------------
// Side Menu
//--------------------------------------------------

.side-menu{
	position: fixed;
	padding-top: 60px;
	left: 0;
	top: 0;
	width: 180px;
	height: 100%;
	background-color: #222;

	.side-menu-inner{
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
	}

}

.side-menu{
	.collapsible{
		border-right: none;
		border-top: none;
		border-left: none;
		box-shadow: none;

		a{
			color: #FFF;
		}

		.collapsible-header{
			border-bottom: none;
			background-color: #222;
			color: #FFF;

			&:hover{
				background-color: #444;
			}
		}
		.collapsible-body{
			border-bottom: none;
			background-color: #333;
			color: #EEE;
			padding: 12px 0;

			li{
				padding-top: 8px;
				padding-bottom: 8px;
				padding-left: 24px;
				padding-right: 8px;
			}
		}
	}
}

//--------------------------------------------------
// Tabs
//--------------------------------------------------

.tabs{
	li{
		a{
			background-color: #F5F5F5;
			&.active{
				background-color: #FFF;
			}
		}
	}
}

//--------------------------------------------------
// Product
//--------------------------------------------------

.child-product-item{
	padding-right: 40px;
	position: relative;

	input{
		width: calc(50% - 16px) !important;
    margin: 8px;
	}

	> .child-product-item-delete{
		position: absolute;
		right: 12px;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		color: #575a63;
		cursor: pointer;
	}
}

//--------------------------------------------------
// Product
//--------------------------------------------------

.state-select-block{
	ul{
		li{
			display: inline-block;
			margin-right: 4px;
		}
	}
}


.product-attribute-item{
	position: relative;
  padding-right: 40px;
  margin: 8px 0;
  display: flex;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;

	> .product-attribute-name{
		flex: 1;
		margin: 0 4px;
	}

	> .product-attribute-value{
		flex: 1;
		margin: 0 4px;
	}

	> .product-attribute-item-delete{
		position: absolute;
		right: 12px;
		top: 50%;
		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		color: #575a63;
		cursor: pointer;
	}
}

//--------------------------------------------------
// Pagination
//--------------------------------------------------

.pagination li {
  display: inline-block;
  font-size: 12px;
  padding: 0 8px;
  line-height: 24px;
  border-radius: 2px;
  text-align: center;

  i {
    font-size: 20px;
  }
}

ul.pagination {
  text-align: right;
  margin-top: 0px;
  padding: 8px 0;
  border-radius: 2px;
  margin-bottom: 0;
}

//--------------------------------------------------
// Table
//--------------------------------------------------

.admin-table{
	background: #FFF;
  border: 1px solid #D0D0D0;
  margin-bottom: 8px;

}

.admin-table-select{
	height: 2.4rem;
	max-width: 150px;
	display: inline-block !important;
  margin: 0 2px;
}

//--------------------------------------------------
// Images
//--------------------------------------------------


.image-list{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

	flex-flow: row wrap;
  -webkit-flex-flow: row wrap;

	.image-item{
		width: calc(20% - 8px);
		height: 200px;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		margin: 8px 4px;
		text-align: center;
		overflow: hidden;
		cursor: pointer;

		@media screen and (max-width: 600px) {
			width: calc(50% - 8px);
		}
	}
}
.image-selector-cover{
	position: fixed;
	background-color: rgba(0,0,0,.6);
	z-index: 1000;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;


	&.active{
		opacity: 1;
		visibility: visible;
	}
}

#close-image-selector{
	position: absolute;
	font-size: 40px;
	right: 8px;
	top: 4px;
	z-index: 1;
	cursor: pointer;

	> i{
		font-size: 40px;
	}
}

.feature-image-block{
	> img{
		width: 100%;
	}
}

.image-selector{
	position: fixed;
	width: 95%;
	height: 95%;
	border: 1px solid #EEE;
	border-radius: 2px;
	top: 2.5%;
	left: 2.5%;
	background-color: #FFF;
	z-index: 1001;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;

	&.active{
		opacity: 1;
		visibility: visible;
	}

	.tabs{
		overflow-x: hidden;
	}

	.image-item{
		border: 4px solid #FFF;

		&.selected-image{
			border-color: #1E97E0;
		}
	}

	.tool-bar{
		position: absolute;
    width: 100%;
    padding: 0 8px;
	}

	.bottom-bar{
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: #EEE;
		padding: 8px;
		text-align: right;
		border-top: 2px solid #C1C1C1;
	}


	.upload-tab-content{
		display: block;
	  position: absolute;
	  width: 100%;
	  top: 115px;
	}

	.image-list-tab-content{
	  position: absolute;
	  top: 115px;
	  width: 100%;
	  bottom: 45px;

	  > .image-list{
	    position: absolute;
	    top: 0;
	    width: 70%;
	    bottom: 0;
	    overflow: auto;
  	  padding: 12px 0 40px 0;
	  }

	  > .image-info{
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    right: 0;
	    width: 30%;
	    overflow: auto;
	    padding: 12px 0 40px 0;
	    border-left: 2px solid #C1C1C1;
	  }
	}

}

.image-selector-trigger{
	cursor: pointer;
}

.progress-bar {
  height: auto;
  color: #FFF;
  background: #7CB9B1;
  border-radius: 2px;
  padding: 4px 0;

  &.upload-item{
  	background: #FCFCFC;
  	color: #000;
  }

  &.error{
  	background: red;
  	color: #FFF;
  }
}

#dropzone-container{
	display: none;

	&.active{
		display: block;
	}
}

#dropzone {
    background: #FFFFFF;
    width: 100%;
    height: auto;
    text-align: center;
    font-weight: bold;
    padding: 24px 12px;

    > p{
    	text-align: center;
    }
}
#dropzone.in {
    width: 100%;
    height: auto;
}
#dropzone.hover {
    background: #7CB9B1;
    color: #FFF;

    > .flat-btn{
    	background-color: #FFF;
    	color: #7CB9B1;
    }

    > p{
    	color: #FFF;
    }
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
}
