<% if @image.new_record? %>
	alert('Fail to upload image: <%= j @image.errors.full_messages.join(', ') %>')
<% else %>
	$('#image-list').prepend('<div class="image-item" id="<%= @image.id %>" style="background-image: url(<%= @image.image_url.to_s %>)"></div>');
<% end %>
