<div class="container">
	<div class="image-form row">
		<%= form_for @image, :url => admin_images_path do |f| %>
			<div class="col s12">
				<h4 class="inline-block vertical-align--middle margin-right-s">圖片庫</h4>
				<a class="outline-btn default vertical-align--middle" id="dropzone-trigger">Upload</a>
				<div id="dropzone-container">
					<div id="dropzone" class="fade well">
						<h5>請將檔案拖曳到這上傳</h5>
						<p>或</p>
						<div class="fileUpload flat-btn">
					    <span>Upload</span>
					    <%= f.file_field :image, multiple: true, name: 'image[image]', class: 'upload' %>
						</div>
						<p>最大上傳檔案大小：1 MB。</p>
					</div>
				</div>
				<div id="progress">
			    <div class="progress-bar" style="width: 0%;"></div>
				</div>
			</div>
		<% end %>
	</div>
	<div class="image-list" id="image-list">
		<% @images.each do |image| %>
			<div class="image-item" style="background-image:url(<%= image_path image.image_url.to_s %>)">
			</div>
		<% end %>
	</div>
</div>
<script type="text/javascript">
$(function () {
    $('#image_image').fileupload({
        dataType: 'script',
        progressall: function (e, data) {
	        var progress = parseInt(data.loaded / data.total * 100, 10);
	        $('#progress .progress-bar').css(
	            'width',
	            progress + '%'
	        ).text(progress + '%');
		    },
		    dropZone: $('#dropzone')
    });
});

$('#dropzone-trigger').click(function(){
	$('#dropzone-container').slideToggle(500);
})

$(document).bind('dragover', function (e) {
    var dropZone = $('#dropzone'),
        timeout = window.dropZoneTimeout;
    if (!timeout) {
        dropZone.addClass('in');
    } else {
        clearTimeout(timeout);
    }
    var found = false,
        node = e.target;
    do {
        if (node === dropZone[0]) {
            found = true;
            break;
        }
        node = node.parentNode;
    } while (node != null);
    if (found) {
        dropZone.addClass('hover');
    } else {
        dropZone.removeClass('hover');
    }
    window.dropZoneTimeout = setTimeout(function () {
        window.dropZoneTimeout = null;
        dropZone.removeClass('in hover');
    }, 100);
});
</script>
